<p class="commenResult" id="comm_<%= comment.id %>">
  <%= comment.body %>
  <span>
                    <%= link_to '<i class="fa fa-trash "></i>'.html_safe, comment, data: {confirm: 'Вы уверены что хотите удалить этот комментарий?'}, remote: true, method: :delete %>
                  </span>
</p>