<% if @todolist.save %>
  $('.todoErrorCreate').html(' ');
  $('#modalCreateTodo').modal('hide');
  $('form input[type=text]').val(' ');
  $('form textarea').val(' ');
$("<%= escape_javascript(render('todoresult', :task => @todolist)) %>").fadeIn(1000).prependTo('.mainContent');
  <% else %>
  $('.todoErrorCreate').html("<div class='alert alert-danger'><strong>Ошибка: </strong><%= @todolist.errors.messages.values.join(', ') %></div>");
<% end %>



$(document).ready(ready);





