body {
    background: url("/g_1.jpg") repeat-x fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.clear {
    clear: both;
}

.titlePage {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

.garageLogo {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
}

/* BEGIN login page*/

.login-body {
    background-color: #f1f2f7;
}

.login-form {
    max-width: 350px;
    margin: 200px auto 0;
    background: rgba(213, 215, 222, 0.6);
}

.login-img-body .login-form {
    max-width: 350px;
    margin: 200px auto 0;
    background: rgba(213, 215, 222, 0.4);
    border: 1px solid #B0B6BE;
}

.login-img2-body .login-form {
    border: 1px solid #B0B6BE;
    background: rgba(213, 215, 222, 0.7);
}

.login-img3-body .login-form {
    border: 1px solid #B0B6BE;
    background: rgba(213, 215, 222, 0.9);
}

.login-form a {
    color: #688a7e !important;
}

.login-form h2.login-form-heading {
    margin: 0;
    padding: 20px 15px;
    text-align: center;
    background: #34aadc;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.login-form .checkbox {
    margin-bottom: 14px;
    margin-left: 20px;
}

.login-form .checkbox {
    font-weight: normal;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.login-form .checkbox label {
    padding-left: 0;
}

.login-form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-form .form-control:focus {
    z-index: 2;
}

.login-form .login-img {
    font-size: 50px;
    font-weight: 300;
}

.login-form .input-group {
    padding-bottom: 15px;
}

.login-form .input-group-addon {
    padding: 6px 12px;
    font-size: 16px;
    color: #8b9199;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
}

.login-form input[type="text"], .login-form input[type="password"] {
    border: none;
    box-shadow: none;
    font-size: 16px;
    border-radius: 0;
}

.login-form .btn {
    border-radius: 0;
}

.login-form .btn-login {
    background: #f67a6e;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 4px #e56b60;
    margin-bottom: 20px;
}

.login-form p {
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}

.login-img3-body .login-form p, .login-img2-body .login-form p {
    color: #34aadc;
}

.login-form a {
    color: #b6b6b6;
}

.login-form a:hover {
    color: #34aadc;
}

.form .required {
    font-size: 16px;
    color: #00a0df;
}

.login-wrap {
    padding: 20px;
}

.login-social-link {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
}

.login-social-link a {
    color: #fff;
    padding: 15px 28px;
    border-radius: 4px;
}

.login-social-link a:hover {
    color: #fff;
}

.login-social-link a i {
    font-size: 20px;
    padding-right: 10px;
}

.login-social-link a.facebook {
    background: #5193ea;
    margin-right: 22px;
    box-shadow: 0 4px #2775e2;
    float: left;
}

.login-social-link a.twitter {
    background: #44ccfe;
    box-shadow: 0 4px #2bb4e8;
    float: left;
}

#error_explanation {
    max-width: 550px;
    margin: 20px auto;
    background-color: #b6b6b6;
    padding: 0 15px 15px 15px;
    opacity: 0.7;
}

#error_explanation:before {
    display: block;
    margin: 0 auto;
    width: 40px;
    color: red;
    font-size: 40px;
    font-family: FontAwesome;
    content: "\f06a";
}

#error_explanation h2 {
    font-size: 20px;
    color: black;
    margin-top: 0;
    padding-top: 0;
}

#error_explanation ul li {
    color: red;
}

/* END login page*/

.newListButton {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    background-image: -moz-linear-gradient(37% 0% -90deg, #5183be 0%, #375d9e 99%);
    background-image: -webkit-gradient(linear, 37% 0%, 37% 100%, color-stop(0, #5183be), color-stop(0.99, #375d9e));
    background-image: -webkit-linear-gradient(-90deg, #5183be 0%, #375d9e 99%);
    background-image: -o-linear-gradient(-90deg, #5183be 0%, #375d9e 99%);
    background-image: -ms-linear-gradient(-90deg, #5183be 0%, #375d9e 99%);
    background-image: linear-gradient(-90deg, #5183be 0%, #375d9e 99%);
}

.newListButton:hover {
    background-color: #428BCA;
}

.todoErrorCreate {
    margin-top: 15px;
    margin-bottom: -20px;
    padding: 0 10px;
}

.parsley-custom-error-message {
    color: red;
    padding-top: 5px;
}

.mainContent {
    margin-top: 30px;
}

.todoListResult {
    margin-top: 30px;
}

.titleTodo {
    position: relative;
    height: 50px;
    background-image: -moz-linear-gradient(37% 0% -90deg, #5183be 0%, #375d9e 99%);
    background-image: -webkit-gradient(linear, 37% 0%, 37% 100%, color-stop(0, #5183be), color-stop(0.99, #375d9e));
    background-image: -webkit-linear-gradient(-90deg, #5183be 0%, #375d9e 99%);
    background-image: -o-linear-gradient(-90deg, #5183be 0%, #375d9e 99%);
    background-image: -ms-linear-gradient(-90deg, #5183be 0%, #375d9e 99%);
    background-image: linear-gradient(-90deg, #5183be 0%, #375d9e 99%);
    outline: 1px solid #315589;
    cursor: move;
}

.titleTodo .customeCalendar {
    padding: 0 15px;
}

.titleTodo span {
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}

.righBar {
    visibility: hidden;
    float: right;
    display: inline-block;
    padding: 0 10px;
    cursor: default;
}

.righBar a {
    line-height: 50px;
    color: #A1BEE3;
    font-size: 18px;
}

.righBar span {
    margin: 0 5px;
    font-weight: normal;
    color: #859BB8;
}

.titleTodo:hover .righBar {
    visibility: visible;
}

.newTaskForm {
    height: 50px;
    background-color: #CECECE;
    outline: 1px solid #abafa3;
}

.newTaskForm {
    line-height: 50px;
    padding-right: 10px;
}

.labelTotaskInput {
    height: 50px;
    padding: 0 15px;
    float: left;
}

.labelTotaskInput label {
    display: inline;
    margin: 0;
    padding-top: 0;
}

.labelTotaskInput i {
    line-height: 50px;
    color: #5CB85C;
}

.input-group .fieldTask {
    float: none;
}

.todoListResult ul {
    list-style: none;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.todoListResult ul li {
    line-height: 45px;
    border-bottom: 1px solid #e7ebea;
    background-color: white;
}

.todoListResult ul li:last-child {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.todoListResult ul li:hover {
    background-color: #FCFED6;
}

.todoListResult ul li:hover .leftNavTask i {
    visibility: visible;
}

.completeTask {
    display: inline-block;
    width: 45px;
    border-right: 1px solid #EFDADF;
}

.titleTaskTable {
    display: inline-block;
    width: 600px;
    border-left: 1px solid #EFDADF;
    padding: 0 15px;
}

.todoListResult ul li .leftNavTask i {
    visibility: hidden;
    width: 25px;
    color: #C7C7C5;
    text-align: center;
    border-left: 1px solid #C7C7C5;
}

.firstLink i {
    border: none !important;
    cursor: move;
}

.leftNavTask {
    display: inline-block;
    border-left: 1px solid #e7ebea;
}

.check0 {
    color: silver;
    border: 1px solid silver;
    margin-left: 15px;
}

.check0:hover {
    color: #5FBE5F;
}

.check1 {
    border: 1px solid silver;
    margin-left: 15px;
    color: #5FBE5F;
}

.check1:hover {
    color: silver
}

/*BEGIN costumase datepicker*/
.ui-datepicker {
    z-index: 1051 !important;
}

/*END costumase datepicker*/

.columnCheck1 {
    text-decoration: line-through;
    font-weight: normal;
    color: #D0D0D0;
}

.page-header {
    border-color: #ACACAC;
}

.page-header h1 {
    font-size: 25px;
}

.btnComment {
    margin: 5px 0 15px 0;
}

.formFile {
    position: relative;
    border-bottomp: 1px solid #e7ebea;
    border-top: 1px solid #e7ebea;
    padding: 23px 10px 10px 10px;

}

.commenResult span {
    visibility: hidden;
    display: inline-block;
    position: absolute;
    top: 3px;
}

.commenResult span:first-child {
    right: 5px;
}

.commenResult span:last-child {
    right: 20px;
}

.formFile .labelFileUpload i {
    border-right: 1px solid silver;
    padding-right: 5px;

}
.labelFileUpload{
    cursor: pointer;

}



.commenResult i:first-child {
    padding-left: 5px;
}

.formFile:hover span {
    visibility: visible;
}

.hideIn {
    position: absolute;
    top: 0;
    width: 515px;
    height: 25px;
    z-index: 2;
}

.formFile .inputUpload {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.formFile:hover .labelFileUpload {
    visibility: visible;
}

.formFile i {
    color: #C7C7C5;
}

.footerComment {
    border-bottom: 5px;
    right: 5px;
    text-align: right;
    margin-bottom: 15px;
}

.footerComment li {
    display: inline-block;
}

.mainResultComment{
    position: relative;
}

.remComm{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

.remComm img{
    display: flex;
    margin: auto;
}

